<div class="row">
 <div class="col-md-6">
  <a href="shell-novice-schedule">
   <h3>
    Automating Tasks with the Unix Shell
   </h3>
  </a>
  Write a short description of this lesson for display on the course homepage. THIS MUST BE IN PLAINTEXT.
 </div>
 <div class="col-md-6">
  <a href="python-novice-schedule">
   <h3>
    Building Programs with Python
   </h3>
  </a>
  Write a short description of this lesson for display on the course homepage. THIS MUST BE IN PLAINTEXT.
 </div>
</div>
<div class="row">
 <div class="col-md-6">
  <a href="git-novice-schedule">
   <h3>
    Version Control with git
   </h3>
  </a>
  Write a short description of this lesson for display on the course homepage. THIS MUST BE IN PLAINTEXT.
 </div>
</div>